* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonte/Roboto/static/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-ExtraBold';
    src: url('../fonte/Roboto/static/Roboto-ExtraBold.ttf');
}

:root {
    --tamanhoHeaderFooter: 100px;
    --tamanhoMain: calc(100vh - 2 * var(--tamanhoHeaderFooter));
    --corHeaderFooter: #470c16;
    --corMain: #323232;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #ffffff;
    font-family: 'Roboto-Regular';
}

.container {
    width: 80%;
    margin: auto;
}
