footer {
    background-color: var(--corHeaderFooter);
    height: var(--tamanhoHeaderFooter);
    font-size: 1.5rem;
    display: flex;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}