main {
    min-height: var(--tamanhoMain);
    background-color: var(--corMain);
}

.titulo {
    font-size: 2.5rem;
}

.pagina {
    min-height: 80vh;
    scroll-margin-top: var(--tamanhoHeaderFooter);
    padding: 1rem 0;
}

.pagina .titulo {
    text-align: center;
    padding-bottom: 2rem;;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

#flash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo img {
    width: 40%;
    height: fit-content;
    object-fit: cover;
}

.conteudo p {
    text-align: justify;
    line-height: 2rem;
}

main .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2rem;
}

main .card {
    width: fit-content;
    background-color: var(--corCard);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
}


main .card:hover{
    transform: scale(1.05);
}

main .card img {
    width: 300px;
    height: 300px;

    border-radius: 1rem 1rem 0 0;
    border: none;
    
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

main .card h2 {
    padding: 2rem;
} 

#home {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}

.fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    z-index: 1;
    overflow-x: hidden;
    display: flex;
    animation: ease-in-out infinite 15s slide;
}

.fundo img{
    width: 100vw;
    filter: opacity(0.4);
}

@keyframes slide {
    0% {
        margin-left: 0%;
    }

    15% {
        margin-left: 0%;
    }

    33% {
        margin-left: -100%;
    }

    48% {
        margin-left: -100%;
    }

    66% {
        margin-left: -200%;
    }

    90% {
        margin-left: -200%;
    }
}

.textos {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }
}

.descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#quizzes {
    padding: 1rem 0;
}

.secao_pesquisa {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quizzes .titulo {
    text-align: center;
}

#quizzes button {
    background-color: var(--corBotao);
    border: none;
    border-radius: 0 2rem 2rem 0;
    width: 3.5rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#quizzes button:hover {
    background-color: #ce8f07;;
}

#quizzes button img{
    width: 2rem;
    height: 2rem;
}

#quizzes input#pesquisar {
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    border: none;
    color: var(--corTexto);
    width: 40%;
    background-color: var(--corCard);
}

.adicionar {
    background-color: var(--corBotao);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

#meus_quizzes .titulo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.adicionar:hover {
    background-color: #ce8f07;
}

.adicionar img {
    width: 2rem;
    height: 2rem;
}